*{
  box-sizing: border-box;

}
body {
  background-color: antiquewhite;
}


.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 150px;
  height: 190px;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
  align-items: center;
  font-size: 25px;
}

.img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px dashed black;
}

.header {
  text-align: center;
  font-size: 75px;
  border: 1px dashed black;
  width: 300px;
}

#parent-container {
  width: 1000px;
  height: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}